---
layout: default
title: Home
---

   <div style="width: 100%;">
       <div style="float:left; display:inline-block"> 
        <center>
        <img src="/images/self.png" width="220">
        <h5> Yash Raj Sarrof <br>
        ML Engineer @ <a href="https://glib.ai/">Glib.ai</a>  <br>
        </h5>
        </center>
       </div>
      {% for post in paginator.posts %}
          {% if post.categories contains "About" %}
            <h3> {{ post.title }} </h3>
            <p> {{ post.content}} </p>
            </div>
        {% endif %}
      {% endfor %}
      </div>




  </div>
